<div id="opening-animation">
    <div class="container">
        <div class="row">
            <div class="col d-none d-md-block">

                <img class="rounded-circle d-block ms-auto welcome-headshot"></img>

            </div>
            <div class="col">
                <p class="line line-1 ">hi,</p>
                <p class="line line-2">my name's Edgar</p>
                <p>
                    <span class="d-inline-block line line-3">i'm a</span>
                    <span class="d-inline-block line anim-first"> student</span>
                    <span class="d-inline-block line anim-second"> developer</span>
                    <span class="d-inline-block line anim-third"> runner</span>
                    <span class="d-inline-block line anim-fourth">n animation-dabbler</span>
                    <span class="d-inline-block line anim-fifth"> learner</span>
                    <span class="d-inline-block line anim-sixth"> rock-climber</span>
                    <span class="d-inline-block line anim-seventh"> human</span>
                    <span class="d-inline-block line anim-eighth"> shawarma-lover</span>
                    <span class="d-inline-block line anim-ninth"> fruit-salad chef</span>
                    <span class="d-inline-block line anim-tenth">n amateur gymnast</span>
                    <span class="d-inline-block end-caret"></span>
                </p>
            </div>
        </div>
        <div class="row check-it-out">
            <div class="col">
                <p class="mx-auto line line-4">check out some of my work!</p>
            </div>
        </div>

    </div>
</div>