<div class="container my-5" id="work-bubbles">
    <div class="row">

    {% for work in site.data.work %}

    <div class="col-md-4 col-sm-12 bubble-col mx-auto">
        
        
        <div class="rotator">
        {% for tech in work.technologies %}

        <div class="logo-rotate" style="--items:{{ forloop.length }}; --index:{{ forloop.index }};">
        <span class="iconify tech-logo{% if tech.glowing %}glow{% endif %}" 
              data-icon="{{ tech.icon }}" 
              style="color: {{ work.accent }};"
              ></span>
        </div>

        {% endfor %}
        </div>
        <h4 class="hidden-popup up">{{ work.position }}</h4>
        <h4 class="hidden-popup down">{{ work.from-to }}</h4>
        {% capture work_id %}{{ work.employer | slugify }}{{ work.position | slugify }}{% endcapture %}
        {% capture modal_id %}{{ work_id }}-modal{% endcapture %}
        <!-- Button trigger modal -->
        <a type="button" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
            <img src="{{ work.thumbnail }}" class="img-fluid bubble-image">
        </a>

        {% include work_modal.html work=work work_id=work_id modal_id=modal_id %}

    </div>

    {% endfor %}




    </div>
</div>