<!-- Modal -->
<div class="modal work-modal fade" id="{{ include.modal_id }}" tabindex="-1" aria-labelledby="{{ include.modal_id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content border-0 border-10">
            <div class="modal-header border-0">
                <h3 class="modal-title typewriter ms-2" id="{{ include.modal_id }}Label" style="color: {{ include.work.accent }}; --len: {{include.work.position | size}};">{{ include.work.position }}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <h4 class="employer-name-heading typewriter ms-3" style="color: {{ include.work.accent }}; --len: {{include.work.employer | size}};">{{ include.work.employer }}</h4>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-5 mb-3">
                            {% capture carousel_id %}{{ include.work_id }}-carousel{% endcapture %}
                            <div id="{{ carousel_id }}" class="carousel slide" data-bs-ride="carousel" data-bs-touch="false">
                                <div class="carousel-indicators">
                                    {% for image in include.work.images %}
                                    <button type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first==true %}class="active" aria-current="true" {% endif %} aria-label="Slide {{ forloop.index }}"></button>                                    {% endfor %}
                                </div>
                                <div class="carousel-inner rounded shadow" style="background-color: {{ include.work.accent }};">
                                    {% for slide in include.work.images %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <a href="{{ slide.image }}" data-lightbox="{{ carousel_id }}-lightbox">
                                            <img src="{{ slide.image }}" class="d-block w-100" alt="{{ include.work.employer }} - image {{ forloop.index }}">
                                        </a>
                                        <div class="carousel-caption d-md-block p-3">
                                            <h5>{{ slide.label }}</h5>
                                            <p>{{ slide.description }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h4 class="typewriter" style="--len: {{include.work.from-to | size}};">{{ include.work.from-to }}</h4>
                            <p>{{ include.work.description }}</p>
                            <div class="tech-section">
                                {% for tech in include.work.technologies %} {% if tech.description %}
                                <hr>
                                <div class="d-flex {% cycle " flex-row ", "flex-row-reverse " %} mb-3">
                                    <div class="p-2" data-bs-toggle="tooltip" title="{{ tech.name }}">
                                        <a href="{{ tech.website }}">
                                            <span class="iconify tech-logo {% if tech.glowing %}glow{% endif %}" data-icon="{{ tech.icon }}" style="color: {{ include.work.accent }}"></span>
                                        </a>
                                    </div>
                                    <div class="p-2">{{ tech.description }}</div>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>