<div style="background-color: {{ include.work.background }}; color: {{ include.work.foreground }};">
    <div class="container py-3 work-section">
        <div class="row" data-aos="aos-anim-typewriter-{{ include.work.position.length.size }}">
            <h2>{{ include.work.position }}</h2>
            <h3 class="employer-name-heading">{{ include.work.employer }}</h3>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 mb-3">
                {% capture carousel_id %}{{ include.work.employer | slugify }}{{ include.work.position | slugify }}{% endcapture %}
                <div id="{{ carousel_id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for image in include.work.images %}
                        <button type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first == true %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.index }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner rounded shadow" style="background-color: {{ include.work.accent }};">
                        {% for slide in include.work.images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{{ slide.image }}" data-lightbox="{{ carousel_id }}-lightbox">
                                <img src="{{ slide.image }}" class="d-block w-100" alt="{{ include.work.employer }} - image {{ forloop.index }}">
                            </a>
                            <div class="carousel-caption d-md-block p-3">
                                <h5>{{ slide.label }}</h5>
                                <p>{{ slide.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <h4>{{ include.work.from-to }}</h4>
                <p>{{ include.work.description }}</p>
                <div class="tech-section">
                    {% for tech in include.work.technologies %}
                    <hr>
                    <div class="d-flex {% cycle "flex-row", "flex-row-reverse" %} mb-3">
                        <div class="p-2" data-bs-toggle="tooltip" title="{{ tech.name }}">
                            <a href="{{ tech.website }}">
                                <span class="iconify tech-logo {% if tech.glowing %}glow{% endif %}" data-icon="{{ tech.icon }}" style="color: {{ include.work.foreground }}"></span>
                            </a>
                        </div>
                        <div class="p-2">{{ tech.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>