#work-bubbles {
    .bubble-image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .15)!important;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    .rotator {
        position: absolute;
        width: 0px;
        height: 0px;
        animation: rotations 6s linear infinite;
        top: 50%;
        left: 50%;
    }
    .logo-rotate {
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        transform: rotate(calc((360/(var(--items))) * (var(--index)) * 1deg));
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        // opacity: 0%;
        z-index: 0;
    }
    .bubble-col:hover .logo-rotate {
        transform: rotate(calc((360/(var(--items))) * (var(--index)) * 1deg)) translate(0px, 150px);
        // opacity: 100%;
    }
    .bubble-col:hover .bubble-image {
        width: 250px;
        height: 250px;
        box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, .15)!important;
        animation-name: hoverpulse;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .bubble-col {
        height: 300px;
        position: relative;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .tech-logo {
        font-size: 3rem;
    }
    .hidden-popup {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0%;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .bubble-col:hover .hidden-popup.up {
        top: -5%;
        opacity: 100%;
    }
    .bubble-col:hover .hidden-popup.down {
        top: 105%;
        opacity: 100%;
    }
    .bubble-col:hover {
        height: 350px;
    }
    @keyframes rotations {
        to {
            transform: rotate(360deg)
        }
    }
    @keyframes hoverpulse {
        0% {
            transform: translate(-50%, -50%);
        }
        25% {
            transform: translate(-50%, -52%);
        }
        75% {
            transform: translate(-50%, -49%);
        }
    }
    .border-10 {
        border-radius: 1.7rem;
    }
    .tech-section .tech-logo {
        font-size: 4rem;
    }
    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;
        min-height: 17ch; // always a little over 2 lines of description
    }
    // aos custom animation
    .modal .typewriter {
        // setup
        font-family: 'Ubuntu mono', monospace;
        // font-size: xx-large;
        border-right: 2px solid rgba(0, 0, 0, 0.75);
        white-space: nowrap;
        overflow: hidden;
        width: 0ch;
        padding: 0px;
        transition: all 1s steps(var(--len));
        // animate text cursor
        animation-name: blinkTextCursor;
        animation-duration: 1s;
        animation-iteration-count: 3;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }
    .modal.show .typewriter {
        width: calc((var(--len)) * 1ch);
    }
    @keyframes blinkTextCursor {
        0% {
            border-right-color: transparent;
        }
        50.8% {
            border-right-color: rgba(0, 0, 0, 0.75);
        }
        100% {
            border-right-color: transparent;
        }
    }
    .modal {
        max-width: 100vw;
        max-height: 100vh;
    }
}